.header__content {
  /* border: .5px solid red; */
  width: 1170px;
  background-color: #000;
  margin: 0 auto;
  padding: 34px 20px 33px;
  display: flex;
  flex-basis: 1170px;
  align-items: center;
  justify-content: space-between;
}